/* @font-face {
  font-family: 'CustomFont';
  src: url('/fonts/custom-font.woff2') format('woff2');
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "CustomFont", Arial, sans-serif;
  background-color: #fff;
  color: #333;
}

button {
  background-color: #553cff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #432fc9;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
